*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1e1a1d;
    text-align: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1{
    color: #ffc368;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3.25rem;
}
.container{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 17vh;
    width: 17vh;
    border-radius: 0.2rem;
    border: none;
    font-size: 10vmin;
    color:#E5F2C9 ;
    background-color: #aed99e;
}
#new-game{
padding: 1rem;
font-size: 1.25rem ;
background-color: #DDB967;
color: #070e3b;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 700;
border-radius: 0.6rem;
border: none;
}

#msg{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ff914d;
    font-weight: 500;
    font-size: 1.9rem;
}
.msg-container{
    height: 7vmin;
    width: 87vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}
#msg{
    line-height: 7vmin;
    vertical-align: center;
}
.hide{
    display: none;
}

.o{
    color: #070e3b;
    font-size: 3.7rem;
}
.x{
    color: red;
    font-size: 3.7rem;
}

@media(max-width:595px){
    .container{
        height: 50vh;
        width: 50vh;
    }
    .game{
        height: 100%;
        width: 100%;
    }
    .box{
        height: 14vh;
        width: 14vh;
    }
    h1{
        font-size: 2.5rem;
    }
    .o, .x {
        font-size: 3rem;
    }
    #msg{
        font-size: 1.3rem;
    }
}